body {
    /* background-color: #F2F9FD; */
    background-color: rgb(245, 245, 245);
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    position: relative;
}
.left-effects {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /* background-color: #95c6f1; */
    background-color: #76b9f4;

    -webkit-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;

    animation: moveUpDown 10s ease-in-out infinite alternate;
}

.right-effects {
    position: fixed;
    top: 50px;
    right: 50px;
    bottom: auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /* background-color: #b0dbb0; */
    background-color: #a8ffa8;
    -webkit-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;

    animation: moveUpDown2 10s ease-in-out infinite alternate;
}
@keyframes moveUpDown {
    50%{
        transform: translateY(-10%);
        background-color: #2323d8;
    }
    100%{
        transform: translateY(10%);
        background-color: #9761f5;
    }
}
@keyframes moveUpDown2 {
    50%{
        transform: translateY(10%);
        background-color: #93ea47;
    }
    100%{
        transform: translateY(-10%);
        background-color: #f5cb61;
    }
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;

    /* background-color: #F5F8FF; */
    /*White with light blue tint*/
    /* background-color: transparent; */

    /* background-color: linear-gradient(to right,#87CEFA, #7affa4); */
    /* background: linear-gradient(to right, #212529, black); */
    /* backdrop-filter: saturate(180%) blur(200px); */
    

    
    color:#212529;
    transition: all 0.5s ease-in-out;

    position: fixed;top: 0;
    width: 100%; box-sizing: border-box;

    z-index: 5;
}



.logo {
    font-family: 'Brush Script','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    /* color: #2C3A47; */
    /* color: #7da7ce; */
    color: #cb2121;
    transition: font-size 0.2s ease-in-out;
    
}
.logo>h1{
    transition: font-size 0.2s ease-in-out;
    /* background: linear-gradient(to right, #87CEFA, #ff857a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
nav>ul>li>a{
    transition: font-size 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 30px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #2C3A47;
    /* color: #7da7ce; */
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #243B55, #21897E); /* Blue to Green gradient */
    transition: width 0.3s;
}
nav a.darkmode::before{
    background: linear-gradient(to right, #cf3f3f, #3d7cc7); 

}

nav>ul>li:last-child>a{
    font-style: italic;
}
nav>ul>li:last-child>a:hover::before{
    width: 0;
}

nav a:hover::before {
    width: 100%;
}
nav li.active a::before {
    width: 100%;
  }
  

@media (orientation: portrait) {
    .info,.skill,.portfolio {
        min-height: 0vh;
    }
    .intro{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    body header nav{
        display: none;
    }
    body header .logo{
       width: 100%; 
       text-align: center;
    }
}
@media (orientation:landscape){
    .info,.skill,.portfolio {
        min-height: 100vh;
    }
    .intro{
        height: 100vh; /* Sets the height of the section to be 100% of the viewport height */
    }
    #openModal{
        display: none;
    }
}
/* section 1 */
.intro {
    display: flex; /* Uses flexbox to position image and text side-by-side */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /*Centers content vertically */
    margin-left: 7%;margin-right: 7%;
    border-bottom: solid lightgray 2px;

    /* overflow: hidden; */
}

.intro-image {
    box-sizing: border-box;
    /* width: 40%; */
    flex: 4;
    text-align: center;
}

.intro-image img {
    width: 400px;
    border-radius: 25px;
}
.intro-text{
    /* width: 60%; */
    flex: 6;
    padding-left: 20px;
}
.intro-text h2 {
    font-weight: bold;
    /* font-size: 5.5rem; */
    font-size: 60px;
    color: black;
    text-align: center;
}

/* section2 */
.info{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    margin-left: 7%;margin-right: 7%;
    border-bottom: solid lightgray 2px;

    /* overflow: hidden; */
}
.intro-text p {
    font-size: 1.2rem;
    color:rgb(111, 111, 111) ;
}
.info-image{
    /* width: 30%; */
    flex: 3;
    box-sizing: border-box;
    margin: 5%;
    
    display: flex;
    /* justify-content: center; horizontally center the content */
    align-items:center; /* vertically center the content */
}
.info-image img{
    width: 350px;
    border-radius: 50%;
}
.info-text{
    /* width: 60%; */
    flex: 6;
    height: 100%;
}


ul.horizontal{
    margin-bottom: 0;
    margin-left: 0;margin-right: 0;
    padding: 0;
    list-style: none;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
}
ul.horizontal>li{
    padding-left: 5px;padding-right: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.social_icons{
    font-size: 30px;
    color: white;
    /* background-color: #212529; */
    vertical-align: middle;
    background-color: inherit;

    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

a:visited ,a{
    text-decoration: none;
    outline: none;
    color: inherit;
}

a.social{
    display:inline-block;height: 50px;width:50px;line-height: 50px;background-color: #212529;border-radius: 50%;
}
a.social:hover{
    /* WeChat Green */
    background-color: rgb(98, 175, 33);
}
.edu,.bio{
    color:black;
    padding: 30px;
    margin-top: 10px;margin-bottom: 10px;
    /* height: 50%; */
    vertical-align:top;
}
.edu>div,.bio>div:first-child{
    position: relative;
}
.edu>div>h1,.bio>div>h1{
    font-size:1.75rem;
    
}
.edu>span,.bio>span{
    display: inline-block;
    vertical-align: top;
}
.edu h3{
    margin-top: 0;
}
.bio p{
    font-size: 1.2rem;
}
.edu>div>h1:after,.bio>div>h1:after{
    content: "";
    bottom: -5px;
    left: 0;
    width: 75px;
    height: 2px;
    background-image: linear-gradient(to right, #12c2e9, #5678d6, #a966f5);
    background-size: 120% 2px;
    position: absolute;
}


.container{
    /* margin-left: 7%;margin-right: 7%; */
    margin: 3% 7%;
}
.skill,.portfolio{
    /* padding-top: 35px; */
    color: #212529;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* margin-left: 7%;margin-right: 7%; */
    border-bottom: solid lightgray 2px;

    overflow: hidden;
    text-align: center;
}
.skill h1,.portfolio h1,.contact h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
}
.skill>.container>.head{
    text-align: center;
    padding-left:10%;
    padding-right:10%;
}
.resume{
    display: inline-block;
    background-color: #343a40;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 10%);
    font-weight: 700;
    padding: 1.25rem 2.5rem;

    font-size: 18px;
}
.resume:hover,.email-container:hover{
    background-color: rgb(98, 175, 33);

}
.resume-container{
    text-align: center;
    width: 350px;
    margin-top: 30px;
}
.email-container{
    color:white;
    width: auto;
    float: left;
    overflow: hidden;
    margin: 0;padding: 0;
    height: 100%;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.email{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 10%);
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    height: 100%;
    margin: 0;padding: 0;
}
@media screen and (min-width: 576px){
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media screen and (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
} 

.skillbox{
    /* background: rgb(87, 149, 211); */
    border-radius: 15px;
    padding: 35px 25px;
    top: 0;
    transition: ease all 0.35s;
    flex: 1;
    margin-left: 10px;margin-right: 10px;

    background-color: rgba(180, 204, 232, 0.5); /* Set a semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    opacity: 0.9; /* Set an opacity to make the element slightly transparent */

    display: flex;
    border: solid 1px rgba(180, 204, 232);
    height: auto;
    height: 233px;box-sizing: border-box;
}

.skillbox>.right::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .skillbox>.right::-webkit-scrollbar-thumb {
    background-color: rgba(180, 204, 232, 0.5);
    border-radius: 30px;
  }
.skillbox:hover{
    transform:translateY(-10px);
}

.body{
    margin-top: 5%;
}
.skillbox>.left{
    flex:2;
}
.skillbox>.right{
    flex:8;
    padding-left: 20px;
    overflow: auto;
}
.skillbox>.right>h2{
    /* display: inline-block; */
    height: 50px;box-sizing: border-box;margin: 0;
}
.skillbox>.left>.icon{
    /* margin-right: 20px; */
    width: 60px;
    height: 60px;
    font-size: 30px;
    /* background-color: #fff; */
    display: inline-flex;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(to right, #12a9e9, #7186ed, #a04ff6);
    color:white;

    align-items: center;
    justify-content: center;
}
.skillbox p{
    font-size: 1rem;
    margin-top: 0;margin-bottom: 0;
}
.skillbox>.left>.icon>span{
    vertical-align: middle;
}
.row{
    display: flex;
    /* margin: 50px; */
    margin: 50px 0;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
.column{

}
.icon-java::before{
    color:white;
}
.white::before{
    color:white;
}
.portfolio .body{
    text-align: center;
    position: relative;
    margin: 0;padding: 0;
    margin-top: 30px;
}
.project{
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: skyblue;
    border-radius: 5%;
}
.project-container,.swiper{
    transition: all .2s linear;
}

.project-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.project-container .proj-img{
    height: 70%;
    transition: all .2s linear;
    /* background-color: white; */
    /* background-size:contain; */
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.proj-img:hover{
    transform: scale(1.05);
}
.project-container .proj-exp{
    height: 30%;
    margin-bottom: 15px;
    /* background-color: black; */
}



/* SWIPER CSS */
.swiper {
    /* width: 85.7%; */
    width: 100%;
    height: 590px;

    /* border-radius: 4%; */
    border-radius: 50px;border: 1px solid #212529;
    /* margin-bottom: 30px; */
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: rgba(114, 252, 160, 0.287); */
    background-color: #2125296e;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
}
.swiper-pagination span{
    transition: all .2s linear;
}
.swiper-pagination span:hover{
    transform: scale(1.9);
}
.swiper-button-next,.swiper-button-prev{
    transition: all .2s linear;
    background-color: #b1afaf6c;
    padding: 10px;
    border-radius: 15%;
}
.swiper-button-next:hover,.swiper-button-prev:hover{
    transform: scale(1.3);
    color:red;
    background-color: #9c9c9c6c;
}


/* mobile stuff */
#openModal {
    position: fixed;
    bottom: 20rem;
    right: 1rem; 
    width: 6rem; 
    height: 6rem; 
    font-size: 2.8rem; 
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2000;

    transition: transform 0.2s; /* Smooth transition when pausing */
}
#modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    /* Ensure the overlay is above other content */
}
.modContainer{
    padding-top:40vh;
    height: 100vh;
    width: 40vw;
}
#modalOverlay p{
    margin: 0;padding: 0;
    text-align: center;
    display: block;
    font-size: 50px;
}
#modalOverlay em{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 75px;
}
#modalContent {
    position: fixed;
    height: 100vh;
    width: 60vw;
    background-color: #fff;
    z-index: 2001;
    /* Ensure the modal is above the overlay */
    color:black;
    top: 0;
    right: -60vw;
    transition: right 0.12s ease;
    overflow-y: auto;
}
#modalContent ol{
    list-style:none;
}
#modalContent dt{
    width:100%;
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;

    font-weight: 700;
    border-bottom: 3px solid #e4e4e4;
}
#modalContent dd{
    margin: 0;
    font-size: 2.2rem;
}
#modalContent li{
    padding-left: 1.5rem;
    height: 8rem;
    line-height: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    color: #666;
}
#feedback {
    font-weight: bold;
    margin-top: 10px;
    font-size: 45px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
#secretBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
    padding: 5%;
    z-index: 3000;
    display: none;
    overflow: auto;
    box-sizing: border-box;
}
#secretBox p#disclaimer{
    width: 100%;
    display: block;
    color: gray;
    font-size: 25px;
    position: relative;
    /* bottom: 0; */
    margin-top: 30px;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}






footer{
    height: 60px;
    background-color: #212529;
    color:#c1c1c1;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding-left: 30px;
    padding-right: 30px;
    line-height: 60px;

    text-align: center;
}
footer>ul.horizontal{
    margin: 0;
    margin-top: 0;
    width: auto;
}
section{
    /* overflow: auto; */
    /* overflow: hidden; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    overflow: hidden;
}
section::-webkit-scrollbar{
    display: none;
}
.contact{
    color: #212529;
    height: auto;
    

    border-bottom: solid lightgray 2px;

    text-align: center;
}
.contact .body{
    height: 25vh;
}
.contact .horizontal{
    width: 100%;
    
}
.contact .horizontal li a{
    border-radius: 10px;
    width: auto;
    padding: 20px;
}
.contact .horizontal li{
    transition: all .2s linear;
    margin-left:10px ;
    margin-right: 10px;
    margin-bottom: 30px;
}
.contact .horizontal li:hover{
    transform: scale(1.1);
}
.contact-type{
    font-weight:bold ;
    font-size: 1.25rem;
}
.swiper h4{
    margin:5px 0;
}
.swiper p{
    margin-left: 5px;margin-right: 5px;
}
