body {
    /* background-color: #F2F9FD; */
    background-color: rgb(245, 245, 245);
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    position: relative;
}
.left-effects {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /* background-color: #95c6f1; */
    background-color: #76b9f4;

    -webkit-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;

    animation: moveUpDown 10s ease-in-out infinite alternate;
}

.right-effects {
    position: fixed;
    top: 50px;
    right: 50px;
    bottom: auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /* background-color: #b0dbb0; */
    background-color: #a8ffa8;
    -webkit-filter: blur(150px);
    filter: blur(150px);
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;

    animation: moveUpDown2 10s ease-in-out infinite alternate;
}
@keyframes moveUpDown {
    50%{
        transform: translateY(-10%);
        background-color: #2323d8;
    }
    100%{
        transform: translateY(10%);
        background-color: #9761f5;
    }
}
@keyframes moveUpDown2 {
    50%{
        transform: translateY(10%);
        background-color: #93ea47;
    }
    100%{
        transform: translateY(-10%);
        background-color: #f5cb61;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;

    /* background-color: #F5F8FF; */
    /*White with light blue tint*/
    /* background-color: transparent; */

    /* background-color: linear-gradient(to right,#87CEFA, #7affa4); */
    /* background: linear-gradient(to right, #212529, black); */
    /* backdrop-filter: saturate(180%) blur(200px); */
    

    
    color:#212529;
    transition: all 0.5s ease-in-out;

    position: fixed;top: 0;
    width: 100%; box-sizing: border-box;

}



.logo {
    font-family: 'Brush Script','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    /* color: #2C3A47; */
    /* color: #7da7ce; */
    color: #cb2121;
    transition: font-size 0.2s ease-in-out;
    
}
.logo>h1{
    transition: font-size 0.2s ease-in-out;
    /* background: linear-gradient(to right, #87CEFA, #ff857a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
nav>ul>li>a{
    transition: font-size 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 30px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #2C3A47;
    /* color: #7da7ce; */
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #243B55, #21897E); /* Blue to Green gradient */
    transition: width 0.3s;
}
nav a.darkmode::before{
    background: linear-gradient(to right, #cf3f3f, #3d7cc7); 

}

nav>ul>li:last-child>a{
    font-style: italic;
}
nav>ul>li:last-child>a:hover::before{
    width: 0;
}

nav a:hover::before {
    width: 100%;
}

/* section 1 */
.intro {
    height: 100vh; /* Sets the height of the section to be 100% of the viewport height */
    display: flex; /* Uses flexbox to position image and text side-by-side */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /*Centers content vertically */
    margin-left: 7%;margin-right: 7%;
    border-bottom: solid lightgray 2px;

    overflow: hidden;
}

.intro-image {
    box-sizing: border-box;
    /* width: 40%; */
    flex: 4;
}

.intro-image img {
    width: 400px;
    border-radius: 25px;
}
.intro-text{
    /* width: 60%; */
    flex: 6;
    padding-left: 20px;
}
.intro-text h2 {
    font-weight: bold;
    /* font-size: 5.5rem; */
    font-size: 60px;
    color: black;
    text-align: center;
}

/* section2 */
.info{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 7%;margin-right: 7%;
    border-bottom: solid lightgray 2px;

    overflow: hidden;
}
.intro-text p {
    font-size: 1.2rem;
    color:rgb(111, 111, 111) ;
}
.info-image{
    /* width: 30%; */
    flex: 3;
    box-sizing: border-box;
    margin-left: 5%;
}
.info-image img{
    width: 350px;
    border-radius: 50%;
}
.info-text{
    width: 60%;
    flex: 6;
}


ul.horizontal{
    margin-bottom: 0;
    margin-left: 0;margin-right: 0;
    padding: 0;
    list-style: none;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
}
ul.horizontal>li{
    padding-left: 5px;padding-right: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.social_icons{
    font-size: 30px;
    color: white;
    /* background-color: #212529; */
    vertical-align: middle;
    background-color: inherit;

    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a.social{
    display:inline-block;height: 50px;width:50px;line-height: 50px;background-color: #212529;border-radius: 50%;
}
a.social:hover{
    background-color: rgb(98, 175, 33);
}
