@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yr9e7e');
  src:  url('fonts/icomoon.eot?yr9e7e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yr9e7e') format('truetype'),
    url('fonts/icomoon.woff?yr9e7e') format('woff'),
    url('fonts/icomoon.svg?yr9e7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sound:before {
  content: "\e908";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-qq:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e91e";
}
.icon-cheveron-left:before {
  content: "\e91f";
}
.icon-cheveron-right:before {
  content: "\e920";
}
.icon-cheveron-up:before {
  content: "\e921";
}
.icon-location1:before {
  content: "\e922";
}
.icon-location-current:before {
  content: "\e923";
}
.icon-mic:before {
  content: "\e924";
}
.icon-qq1:before {
  content: "\e901";
}
.icon-wechat:before {
  content: "\e902";
}
.icon-weixin:before {
  content: "\e902";
}
.icon-baidu:before {
  content: "\e910";
  color: #2319dc;
}
.icon-airplayaudio:before {
  content: "\e903";
}
.icon-airplayvideo:before {
  content: "\e904";
}
.icon-baidu1:before {
  content: "\e905";
  color: #2319dc;
}
.icon-huawei:before {
  content: "\e927";
  color: #f00;
}
.icon-wechat1:before {
  content: "\e907";
  color: #7bb32e;
}
.icon-home2:before {
  content: "\e909";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e986";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-mic1:before {
  content: "\e925";
}
.icon-books:before {
  content: "\e926";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-arrow-right21:before {
  content: "\ea3d";
}
.icon-arrow-left21:before {
  content: "\ea45";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
